[submodule "benchmark-data"]
	path = benchmark-data
	url = https://github.com/rubybench/benchmark-data.git
	branch = main
[submodule "ruby-bench"]
	path = ruby-bench
	url = https://github.com/ruby/ruby-bench.git
	branch = main
