<div
  data-controller="settings"
  class="bg-gray-900 w-full h-26 py-1 flex flex-col justify-center items-center sticky top-0 z-30"
>
  <div class="flex items-center justify-center">
    <div class="p-2 flex gap-4">
      <div>
        <label for="from">From:</span>
        <input
          id="from"
          type="date"
          data-action="input->settings#save"
          data-settings-target="from"
          class="max-w-[45vw] text-gray-900 px-2 py-1 rounded-md"
        >
      </div>

      <div>
        <label for="to">To:</label>
        <input
          id="to"
          type="date"
          data-action="input->settings#save"
          data-settings-target="to"
          class="max-w-[45vw] text-gray-900 px-2 py-1 rounded-md"
        >
      </div>
    </div>
  </div>

  <div>
      <input
        id="relative"
        type="checkbox"
        checked="checked"
        data-action="input->settings#save"
        data-settings-target="relative"
        class="rounded-md cursor-pointer"
      >
      <label for="relative" class="cursor-pointer">Relative</label>
  </div>
</div>
