<div class="min-h-[90vh] flex flex-col justify-center items-center gap-8">
  <h1 class="text-5xl font-bold text-center">Ruby Performance Retrospective</h1>
  <p class="px-2 md:w-2/3">
    This page contains processed benchmark results of the
    <a href="https://speed.yjit.org/" class="underline hover:no-underline">YJIT benchmark suite</a>
    from very begining. Here you can find how Ruby performance has changed relatively to the beginning of the YJIT
    journey. The data is taken from the
    <a href="https://github.com/yjit-raw/benchmark-data" class="underline hover:no-underline">benchmark-data</a> repo.
  </p>
  <h2 class="text-3xl font-semibold">Scroll down to proceed</h2>
</div>
